@import "../../styles/variables.css";

.container-quickview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 35rem;
    width: auto;
    margin: 5%;
    border: 2px solid var(--primary-gray);
}

.container-profile {
    display: flex;
    flex-direction: column;
   
    height: 40rem;
    width: 100%;
}

.divider {
    background-color: var(--primary-gray);
    height: 6px;
    width: 85%;
}

.background-pic {
    background-color: var(--primary-gray);
    height: 80%;
    width: 100%;
}

.pfp {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: black;
    position: relative;
    z-index: 10;
    top: -30px;
    margin: 5px;
}

.profile-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-info p {
    margin: 0;
}

.profile-endorsements {
    display: flex;
    justify-content: space-around;
}

.container-skills {
    /* border: 2px solid var(--primary-gray); */
    height: 20rem;
    width: 100%;
    text-align: center;
}

.container-bio {
    /* border: 2px solid var(--primary-gray); */
    height: 10rem;
    width: 100%;
    text-align: center;
}