@import "../../Styles/variables.css";

.container-quickview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-profile {
    display: flex;
    flex-direction: column;
    border: 2px solid var(--primary-gray);
    height: 55vh;
    width: 30vw;
}

.background-pic {
    background-color: var(--primary-gray);
    height: 50%;
    width: 100%;
}

.pfp {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: black;
    position: relative;
    z-index: 10;
    top: -50px;
    margin: 5px;
}

.profile-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-info p {
    margin: 0;
}

.profile-endorsements {
    display: flex;
    justify-content: space-around;
}

.container-skills {
    border: 2px solid var(--primary-gray);
    height: 30vh;
    width: 30vw;
    text-align: center;
}

.container-bio {
    border: 2px solid var(--primary-gray);
    height: 15vh;
    width: 30vw;
    text-align: center;
}