.container-main {
  min-height: 100vh;
  display: grid;
  grid-template-areas: 
  "navbar mainpage";
  grid-template-columns: 80px 1fr;
}

.nav-bar {
  grid-area: navbar;
}

.container-page {
  grid-area: mainpage;
}
