.container-text-field {
  display: flex;
}

.container-text-field.label-top {
  flex-direction: column;
  row-gap: 2px;
}

.container-text-field.label-left {
  flex-direction: row;
  column-gap: 10px;
}

.text-field-label {
  font-size: 0.8em;
  font-weight: bold;
  min-width: fit-content;
}

.container-text-field > input::placeholder {
  color: #c0c0c0;
  padding-left: 10px;
}
