.home-container {
  display: grid;
  grid-template-columns: 65% 35%;
  height: 100vh;
  align-items: center;
}

.endorsement-feed-wrapper {
  grid-column: 1/2;
  height: 85vh;
  overflow-y: scroll;
  padding: 0px 10px 0px 80px;
}

.quick-view-wrapper {
  grid-column: 2/3;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10%;
}

.searchBar {
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-top: 2%; */
}