@import "../../styles/variables.css";
.nav-item {
  width: 100%;
  height: 64px;
}

.nav-item:hover {
  background-color: var(--primary-gray);
  filter: brightness(0.9);
}

.nav-item-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-black);
}

.nav-item-link.active {
  color: var(--primary-green);
}
