.container-email-field {
  display: flex;
  flex-direction: column;
}

.email-field-label {
  font-size: 0.8em;
  font-weight: bold;
  min-width: fit-content;
}

.container-email-field > input::placeholder {
  color: #c0c0c0;
  padding-left: 10px;
}
