.container-text-area {
  display: flex;
  flex-direction: column;
  row-gap: 2px;
}

.text-area-label {
  font-size: 0.8em;
  font-weight: bold;
  min-width: fit-content;
}

.container-text-area > input::placeholder {
  color: #c0c0c0;
}

.text-area {
  border: none;
  height: 300px;
  margin-top: 5px;
}
